input, select{
    height: 48px !important;
    width: 100%;
    border-radius: 16px;
    padding: 12px 24px 12px 24px;
    background: #EFF0F6;
    border: none;
}
textarea{
    display: block;
    min-height: 96px;
    width: 100%;
    border-radius: 16px;
    padding: 12px 24px 12px 24px;
    background: #EFF0F6;
    border: none;
}